*{
	box-sizing: border-box;
}
.detail img{
	border: 1px solid #dee4ed;
}
.image{
	float: left;
	width:100%;
	padding: 10px;
}
/*.image img{
	opacity:0.8; 
}
.image img:hover{
	opacity: 1;
}*/
.detail{
	position: relative;
	margin-top: 50px;
	/*display: none;*/
}
.detail:after{
	content: "";
	display: table;
	clear: both;
}

.border{
	border: 2px solid #8b93a0;
	width: 300px;
	height: 395px;
	position: relative;
}
